body{
    background-color: black;
}

#score {
  color: white;
}
.row{
    margin-bottom: -4px;
}
.row div{
    width: 20px;
    height: 20px;
    border: 2px solid black;
    display: inline-block;
}
.brick{
    background-color: blue;
}
.coin{
    background: url('images/coin.gif');
}
.pacmanright{
    background: url('images/pacman.gif');
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}

.pacmandown{
    background: url('images/pacman.gif');
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Safari */
    transform: rotate(270deg);

}

.pacmanup{
    background: url('images/pacman.gif');
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
}

.pacmanleft{
    background: url('images/pacman.gif');
}


.ghost{
  background: url('images/ghost.jpg');
}

.cherry{
  background: url('images/cherry.jpg')

}
.sprite {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
